body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
}
#calcu{
    font-family:Arial, sans-serif;
    background-color:lightskyblue;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    
    }
#display{
    width: 100%;
    padding: 20px;
    font-size :5rem;
    text-align: left;
    border: none;
    background-color:lightskyblue;
    color: rgb(37, 10, 62);

}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}

button{ 

    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: none;
    background-color:rgb(99, 99, 242);
    color: rgb(37, 10, 62);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color:rgb(131, 131, 255);
}
button:active{
    background-color:rgb(114, 114, 252);
}